# Alpha Vantage API
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_api_key

# SQL Server
DB_SERVER=your_sql_server
DB_NAME=FinancialMarketWarehouse
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=yes
